<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Sign up chatset</title>
</head>
<body>
    <h1>SIGN UP FORM</h1>
    <form action="/">
        <input type="submit" value="SignUp" class="sign btn btn-dark">
    </form>
    <form action="/login">
        <input type="submit" value="LogIn" class="log btn btn-success">
    </form>
    
    <form action="/register" method="post" class="container">
        <span>Name  <input type="text" name="fname" id="fname" class="formData"></span>
       
        <span>Email <input type="email" name="iemail" id="email" class="formData"></span>
       
        <span>Phone <input type="number" name="phno" id="phone" class="formData"></span>
        
        <span>Address <input type="text" name="address" id="add" class="formData"></span>
        
        <span>Password <input type="password" name="pass" id="pass" class="formData"></span>
      
        <span>Repeat Pass <input type="password" name="rpass" id="rpass" class="formData"></span>
        
        <input type="submit" value="submite" class="btn btn-danger formData" id="ok">
        
    </form>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>