<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h3 style="padding: 10em 3em;">An email with a verification link has been sent to your email id</h3>
    <br>
    <p style="padding: 15em 7em;">Please click on that link to confirm your registration. Check your spam folder or promotions tab too</p>
</body>
<script>
    const mailId=require('./app.js');
</script>
</html>